.app {
  padding: 30px;
  background-color: rgb(218, 193, 143);
}

button{
  background-color: rgb(19, 233, 66);
 float: right;
 height: 30px;
}
input{
  width: 700px;
  height: 30px;
  margin-left: 20px;
  background-color: aqua;

}
h3{
  margin-left: 20px;
}
